:root {
    --line-height: 1.8rem;
    --list-marker-align: end;
    --list-marker-prefix: "(";
    --list-marker-suffix: ")";
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    padding: 1rem 2rem;
}
body {
    position: relative;
    background-color: snow;
    /*border: 1px solid blue;*/
}

p {
    line-height: var(--line-height);
    overflow: visible;
}

.math-block {
    display: block;
    width: fit-content;
    max-width: 100%;
    margin: 0 auto;
    overflow-x: scroll;
    overflow-y: clip;
}

.math-block::-webkit-scrollbar {
    display: none;
}

/**********
There are 6 list types
1. ul for bullet/disc
For ol (use class `list`; example attributes shown)
2. (i) **default**
    ```
    class=list
    ```
3. (a)
    ```
    class=list
    data-style=alpha
    ```
4. i.
    ```
    class=list
    data-style=roman
    data-suffix=.
    ```
5. M1.
    ```
    class=list
    data-style=decimal
    data-prefix=M
    data-suffix=.
    ```
6. 1. (decimal)
    ```
    class=list
    data-style=decimal
    ```
**********/

ul,
ol:not(.list) {
    margin: 0.4rem 0;
    padding-left: 2rem;
}

ul {
    list-style-type: disc;
}

ol.list {
    padding-left: 0;
    list-style: none;

    counter-reset: m-counter;

    display: grid;
    grid-template-columns: max-content 1fr; /* marker | content */
    row-gap: 0.5rem;
    column-gap: 0.4rem;
}

/* `display:contents` unwrap contents of <li> and let direct
   children ::before, <p> etc behave as direct grid
   items of <ol>
*/
ol.list > li {
    display: contents;
}

/* Marker */
ol.list > li::before {
    counter-increment: m-counter;
    content: var(--list-marker-prefix) counter(m-counter, lower-roman)
        var(--list-marker-suffix);
    font-weight: bold;
    color: #2c3e50;

    grid-column: 1;
    justify-self: var(--list-marker-align);
    /*border: 1px solid red;*/
}

ol.list[data-list-style="decimal"] > li::before {
    content: var(--list-marker-prefix) counter(m-counter, decimal)
        var(--list-marker-suffix);
}

ol.list[data-list-style="alpha"] > li::before {
    content: var(--list-marker-prefix) counter(m-counter, lower-alpha)
        var(--list-marker-suffix);
}

/* All content goes to column 2 */
ol.list li > * {
    grid-column: 2;
}

.qed {
    float: right;
}
