* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    padding: 1rem 2rem;
}
body {
    position: relative;
    background-color: snow;
    /*border: 1px solid blue;*/
}

/**********
There are 6 list types
1. ul for bullet/disc
For ol (use class `list`; example attributes shown)
2. (i) **default**
    ```
    class=list
    ```
3. (a)
    ```
    class=list
    data-style=alpha
    ```
4. i.
    ```
    class=list
    data-style=roman
    data-suffix=.
    ```
5. M1.
    ```
    class=list
    data-style=decimal
    data-prefix=M
    data-suffix=.
    ```
6. 1. (decimal)
    ```
    class=list
    data-style=decimal
    ```
**********/

ul,
ol:not(.list) {
    margin: 0.4rem 0;
    padding-left: 2rem;
}

ul {
    list-style-type: disc;
}

ol.list {
    padding-left: 0;
    list-style: none;

    counter-reset: m-counter;

    display: grid;
    grid-template-columns: max-content 1fr; /* marker | content */
    row-gap: 0.5rem;
    column-gap: 0.4rem;
}

/* `display:contents` unwrap contents of <li> and let direct
   children ::before, <p> etc behave as direct grid
   items of <ol>
*/
ol.list > li {
    display: contents;
}

/* Marker */
ol.list > li::before {
    counter-increment: m-counter;
    content: "(" counter(m-counter, lower-roman) ")";
    font-weight: bold;
    color: #2c3e50;

    grid-column: 1;
}

ol.list[data-style="decimal"] > li::before {
    content: "(" counter(m-counter, decimal) ")";
}

ol.list[data-style="alpha"] > li::before {
    content: "(" counter(m-counter, lower-alpha) ")";
}

/* All content goes to column 2 */
ol.list li > * {
    grid-column: 2;
}

.qed {
    float: right;
}
